@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    
}

html{
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
    background-color: rgb(104, 194, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
}


.main-container{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    margin-top: 2rem;
    padding: 1rem;
    width: 37rem;
    height: 42rem;
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}


.theme{
    display: none;
    background-color: #fff;
    max-width: 100%;
    width: 17rem;
    height: 12rem;
    position: absolute;
    top: 4rem;
    right: 0;
    margin-right: 2rem;
    border-radius: 6px;
    z-index: 1;

}


.theme p{
    text-align: start;
    margin: 10px 0 1px 10px;
}

.theme.active{
    display: block;

}

.colors-container{
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    
}

.colors{
    width: 2.5rem;
    height: 2.5rem;
    background-color: hsl(0, 42%, 57%);
    position: relative;
    outline: 2px solid transparent;
    outline-offset: 2px;
    
}


.colors:is(:hover, :focus) { outline-color: greenyellow; }

.colors.active { outline-color: greenyellow; }

.colors:active { transform: scale(0.98); }


.to-do-container{
    width: 100%;
    overflow-y: auto;
    height: 30rem;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.menu{
    width: 1.7rem;
    height: 1.7rem;
}


.menu:hover{
    
    border: none;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.54);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
}

.menu > p{
    text-align: center;
    margin-bottom: .8rem;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}

.img-container{
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.welcome-img{
    display: none;
    margin-top: 1rem;
    width: 15rem;
}


.welcome-text{
    display: none;
    width: 15rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.input-container{
    position: relative;
    top: 2rem;
}

.input-box{
    width: 100%;
    height: 2.5rem;
    border-radius: .2rem;
    border: none;
}

.active{
    display: block;
}

.main-list{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.list{
    display: flex;
    flex: 2;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
    padding: 5px;
    border-radius: .2rem;
    position: relative;
}
.list p{
    margin-left: 8px;
    width: 85%;
}

.list:active{
    transform: scale(0.98);
}


.circle-icon{
    margin-left: 5px;
    font-size: 1.5rem;
    
}


.checkmark-icon.active{
    color: #fff;
}

.checkmark-icon{
    opacity: 0;
    top: 10px;
    left: 15px;
    font-size: 15px;
    position: absolute;
}

.circle-icon:hover {
    cursor: pointer;
}

.task-icons:is(:hover) .checkmark-icon{
    opacity: 1;
}


.delete-icon{
    position: absolute;
    right: 1rem;
    opacity: 0;
}

.list:is(:hover, :focus-within) .delete-icon{
    opacity: 1;
}


.delete-icon:hover{
    color: red;
    cursor: pointer;
}

input:focus{
    outline: none;
}

.input-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -2.1rem;
    margin-left: .4rem;
    z-index: -1;
    opacity: 1;
}

.add-icon.active{
    display: none;
}

.add-text.active{
    display: none;
}

.add-icon{
    font-size: 1.7rem;
    padding-right: .3rem;
    display: block;
}

.add-text{
    font-size: 1rem;
    display: block;
}

input::placeholder{
    padding-left: 1.6rem;
}

.placeholderClass::-webkit-input-placeholder{
    padding-left: .1rem;
}



input[type=text]{
    font-size: 1rem;
    padding-left: .6rem;
}



/* Media Queries for responsiveness */

@media (max-width: 615px) {
    .main-container{
        width: 100%;
        margin-top: 0;
        height: 100vh;
        padding: 0 .3rem .1rem .3rem;
        background-color: transparent;
        
    }

    .theme{
        top: 3rem;
        margin-right: 1.2rem;

    }
}

@media (max-width: 550px){
    .theme{
        width: 15rem;
    }
}